{{!-- {{outlet}} --}}

<h1>sadasdfads {{model}} </h1>
<article class="prod-card">
    <section>
        <h4>Prod Name</h4>
    </section>
    <hr>
    <section>
        <div class="comment">Comment 1</div>
        <div class="comment">Comment 1</div>
        <div class="comment">Comment 1</div>
        <div class="comment">Comment 1</div>
    </section>
</article>
